body{
    padding: 50px 0px 0px;
    z-index: 0;

}

.navbar-dark{
    background-color: black;
    min-width:100vw;
}
.navbar{
  min-width: 100vw;
}
.jumbotron{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0px auto;
    background: black;
    color: floralwhite;
    overflow: hidden;
    
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 50%;
}


.row-header{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 100vh;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 90px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
.scroll{
    position: relative;
    margin-top: auto;
    text-align: center;
    opacity: 50%;
}
section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;

  }
  #section07 a {
    padding-top: 80px;
  }
  #section07 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #section07 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #section07 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .font-italic{
    text-align: center;
    font-size: 30px;

  }
  small{
    color: grey;
    font-weight: bold;
  }
  .p2{
    color: grey;
    font-weight: bold;
  }
  .img-fluid{
    max-width:80%;

  }
  .img-box{
    align-self: center;
    max-width:85%;
    padding-bottom: 40px;
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 7px 11px 10px 1px rgba(173,164,173,1);
    -moz-box-shadow: 7px 11px 10px 1px rgba(173,164,173,1);
    box-shadow: 7px 11px 10px 1px rgba(173,164,173,1);
    border-radius: double;
  }
  .btn{
    min-width: 40%;
    min-height: 50%;
    color:white; 
  }
  
  h5{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
  }

  .footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}